<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
    <title>Admin</title>
</head>
<body>
<header id="header-admin">

    <div class="header-area flex-between container">
        <div class="header-left">
            <a href="/admin" class="logo flex-start" id="logo-scroll">
                <img src="./assets/img/logo.png" alt="logo">
            </a>

            <nav class="header-nav">
                <ul class="flex-evenly">
                    <li class="atual" id="li-scroll">
                        <a href="/admin" >
                            <img src="./assets/icons/talher.png" alt="talher">
                            <h2 >PRODUTOS</h2>
                        </a>
                    </li>

                    <li class="no-atual li-scroll" id="li-scroll2">
                        <a href="">
                            <img src="./assets/icons/temp.png" alt="relógio">
                            <h2>PEDIDOS</h2>
                        </a>
                    </li>

                    <li class="no-atual li-scroll" id="li-scroll3">
                        <a href="/" target="_blank">
                            <img src="./assets/icons/store.png" alt="relógio">
                            <h2>RESTAURANTE</h2>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="header-right flex-end">
            <div class="header-busca flex-center">
                <img src="./assets/icons/procurar.png" alt="procurar">
                <input type="search" id="txtBusca" placeholder="Procurar...">
            </div>

            <div class="add-produto">
                <a class="button-add flex-center" href="/add-produtos">Adicionar Produto</a>
            </div>
        </div>
    </div>

</header>

<main>
    
    <section id="produtos">

        <div id="header-nav-categoria">
            <nav class="container">
                <ul class="ul-categoria flex-evenly">
                    <li class="atual-ct"><a href="">Todos Os Pratos</a></li>
                    <li><a href="">Hamburgers</a></li>
                    <li><a href="">Pizzas</a></li>
                    <li><a href="">Pasteis</a></li>
                    <li><a href="">Saladas</a></li>
                    <li><a href="">Doces</a></li>
                    <li><a href="">Bebidas</a></li>
                </ul>
            </nav>
        </div>

        <div id="area-cards" class="container flex-evenly">

            <% restaurante.forEach(element => { %>
                
                <a href="/editar-produto/<%= element.id %> " class="card-area-total">
                    <div class="card-img">
                        <img src="<%= element.img %> " alt="">
                    </div>
    
                    <div class="card">
                        <div class="card-text">
                            <div class="card-title">
                                <h3><%= element.nome %></h3>
                            </div>
                            <div class="card-desc">
                                <p><%= element.ingredientes %><p>
                            </div>
                            <div class="card-valor">
                                <p>R$ <%= element.valor %> </p>
                            </div>
                        </div>
                    </div>
                </a>

            <% }) %>

        </div>

    </section>

</main>

<footer>
    <div class="container flex-center">
        <p>Todos os direitos reservados</p>
    </div>
</footer>

<script src="/js/admin.js"></script>
</body>
</html>