<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add-produtos.css" type="text/css">
    <title>Editar Produto</title>
</head>
<body>
    <header>

        <div class="header-area flex-center container">
            <div class="header-left">
                <a href="/admin" class="logo flex-start">
                    <img src="/assets/img/logo.png" alt="logo">
                </a>
    
                <nav class="header-nav">
                    <ul class="flex-evenly">
                        <li>
                            <a href="/admin">
                                <img src="/assets/icons/talher.png" alt="talher">
                                <h2>PRODUTOS</h2>
                            </a>
                        </li>
    
                        <li>
                            <a href="">
                                <img src="/assets/icons/temp.png" alt="relógio">
                                <h2>PEDIDOS</h2>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
    
        </div>
    
    </header>

    <main class="container">


        <div class="card-add-produto card">

            <a href="/deletar/<%= produto.id %> " class="delete">
                <img src="/assets/icons/delete.png" alt="">
            </a>
                <form action="/editar/<%= produto.id %> " method="post">

                    <legend class="atual legend-title">Editar <%= produto.nome %> </legend>

                    <div class="form-body flex-center">

                        <div class="form-img flex-center">
                            <img src="<%= produto.img %> " alt="">
                        </div>

                        <div class="form">
                            <fieldset>
                                <label for="nome">Nome:</label>
                                <input type="text" name="nome" placeholder="Pizza de Chocolate..." required minlength="3" value="<%= produto.nome %>">
                            </fieldset>
                        
                            <fieldset>
                                <label for="categoria">Categoria:</label>
                                <input type="text" name="categoria" placeholder="Pizzas..." required minlength="3" value="<%= produto.categoria %>">
                            </fieldset>
                                
                            <fieldset>
                                <label for="ingredientes">Ingredientes:</label>
                                <input type="text" name="ingredientes" placeholder="Chocolate, Morango, Queijo..." required minlength="5" value="<%= produto.ingredientes %>">
                            </fieldset>
                            
                            <fieldset>
                                <label for="img">Imagem:</label>
                                <input type="url" name="img" placeholder="https://imagens.com/pizza-italiana" required minlength="10" value="<%= produto.img %>">
                            </fieldset>                       
                    
                            <fieldset>
                                <label for="valor">Valor:</label>
                                <input type="number" name="valor" step="0.01" min="0" placeholder="29.90" value="<%= produto.valor %>" required>
                            </fieldset>
                        </div>

                    </div>
                
                    <div class="buttons-form flex-center">
                        <button type="submit" class="button-add">Confirmar Edição</button>
                        <a href="/admin">Cancelar</a>
                    </div>
                    
                </form>
        </div>


    </main>

    
</body>
</html>